body {
    padding: 0;
    margin: 0;
    overflow-x: hidden;
    background-image: url(img/Pi-Slices.gif);
    background-repeat: no-repeat;
    background-size: cover;
}

* {
    box-sizing: border-box;
}

#menu,
#game-over {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: auto;
    width: fit-content;
    padding: 2rem;
    margin-top: 6%;
    color: aliceblue;
    background-color: rgba(81, 81, 81, 0.5);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

#menu h1 {
    font-size: 4rem;
}

#menu h1 span {
    font-size: 5rem;
}

.start-menu,
.score-menu,
.gameOver-menu div {
    cursor: pointer;
    font-size: 2rem;
    font-weight: 900;
    padding: 1rem 5rem;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    margin-bottom: 1rem;
    border: 2px solid rgb(38, 38, 80);
}

.start-menu:hover,
.score-menu:hover,
.gameOver-menu div:hover {
    background-color: rgb(38, 38, 80);
}

/* canvas{
    display: block;
} */

.dashboard {
    display: flex;
    visibility: hidden;
    justify-content: space-between;
    align-items: center;
    color: white;
    box-sizing: border-box;
    background-color: #000;
}

.dashboard div {
    font-size: 2rem;
    padding: 2rem;

}

#game-over {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    margin-top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.9);
    border-radius: 0;
    -webkit-border-radius: 0;
    -moz-border-radius: 0;
    -ms-border-radius: 0;
    -o-border-radius: 0;
}

#game-over h1 {
    font-size: 10rem;
    color: rgb(203, 203, 203);
    margin: 1rem 0;
    font-weight: 200;
}

.gameOver-menu div {
    display: inline-block;
}